@charset "UTF-8";

/* ★Bodyの編集 */
body {
  background-color: rgb(245, 248, 229);   /* 全体の色 */
}
/* ************************************************************** */

/* h1タグ編集 */
h1{
  font-weight     : 1000;                   /* フォントの太さ */
  font-size       : 40px;                   /* フォントサイズ */
  text-align      : center;                 /* 中央に表示 */
  background-color:  rgb(216, 226, 161);  /* h1の色 */
}

/* ************************************************************** */
/* 日付、トレード時間帯、通貨ペア編集 */
.common{
  margin-left: 20px;  /* 左側を20pxあける */

  
}


/* ************************************************************** */
/* 環境認識編集 */
.env{
text-align      : center;
  height: 400%;

}

/* ************************************************************** */
/* エントリー編集 */
.entry{
  margin-left: 20px;  /* 左側を20pxあける */
  position: relative; /* 今の位置を基準 */
  top: 400px; /* 上から10px */

}


/* ************************************************************** */
/* 決済編集 */
.take_profit{
  /* float: right;
  margin-right: 20px;  /* 右側を20pxあける */
  /* position: relative; /* 今の位置を基準 */
  /* right: 200px; */
  position: absolute;
  top: 600px;
  left: 800px;
  padding-top: 125px;
   
}

.regist{
  
}
